
/*
* === MAIN STRUCTURE AND LAYOUT CLASSES ===
*/

/* BREAKPOINTS
============================================================================= */

// Smart Phones (Portrait) 320px Wide (minimum)
/*
@include breakpoint(320px) {
  //styles
}
*/
// Smart Phones (Landscape) 480px Wide
/*
@include breakpoint(480px) {
  //styles
}
*/
// Tablets (Portrait) 720px Wide
/*
@include breakpoint(720px) {
  //styles
}
*/
// Tablets (Landscape), Laptops, Small Monitors 960px Wide
/*
@include breakpoint960px) {
  //styles
}
*/
// Larger Desktops 1200px Wide (maximum)
/*
@include breakpoint(1200px) {
  //styles
}
*/


/* ROWS
============================================================================= */

// Rows space content sections vertically
.row {
    @include clearfix;
}

.basic-row{
    @include clearfix;
    padding: 0;
    @include breakpoint(768px) {
        padding: 0;
    }  
}

.first-row{
    @include clearfix;
    padding: 60px 0 0 0;
    @include breakpoint(768px) {
        padding: 100px 0 0 0;
    }    
}

.colour-row {
    @include clearfix;
    padding: 60px 0;
    @include breakpoint(768px) {
        padding: 80px 0 80px 0;
    }    
}

.colour-track-row {
    @include clearfix;
    padding: 0;
    margin-bottom: 100px;
    @include breakpoint(768px) {
        padding: 0;
    }
    &.colour-row--grey {background-color: #fff;}    
}



/* SUSY| CONTAINER
============================================================================= */

.constrain {
    @include clearfix;
    padding:0 20px; 
    @include breakpoint(480px) {
       padding: 0 20px;
    } 
    @include breakpoint(720px) {
       padding: 30px;
    } 
    @include breakpoint(960px) {
       padding: 0 40px;
    } 
    @include breakpoint(1200px) {
       @include container();
       padding: 0;
    }    
}



/* SUSY| GRID OPTIONS
============================================================================= */


.one-third {
    @include span(4 last);
}

.two-thirds {
    @include span(8);
}

.half {
    @include span(6);
}

.half-last {
    @include span(6 last);
}

.full {
    @include span(12 last);
    float:none;
    margin: 0 auto;
}

.ten-col {
    @include span(12 last);
    float:none;
    margin: 0 auto;
    @include breakpoint(768px) {
        @include span(10 last);
        float:none;
        margin: 0 auto;
    }
}

.middle {
    @include span(12 last);
    float:none;
    margin: 0 auto;
    @include breakpoint(768px) {
        @include span(8 last);
        float:none;
        margin: 0 auto;
    }

}


/* SUSY| GALLERY GRID OPTIONS
============================================================================= */


// <ul class="gallery"
//     <li class="gallery-item-1"></li>
// </ul>


.gallery {
  @include clearfix; 
}

.gallery-inside { // for gallery-items to sit inside of .constrain with padding
  @include clearfix; 
  padding: gutter(8);
  padding-bottom: 0;
}

.gallery-item-1 { // 1/12 == 1 columns per row
  @include gallery(12 of 12); 
  margin-bottom: gutter(12);
}

.gallery-item-2 { // 6/12 == 2 columns per row
    @include gallery(12 of 12);
    margin-bottom: span(1 of 12) + gutter(12);
    float:none; 
    @include breakpoint(768px) {
        @include gallery(6 of 12); 
        margin-bottom: span(1 of 12);
    } 
  
}

.gallery-item-3 { // 4/12 == 3 columns per row
    @include gallery(12 of 12);
    float:none;
    margin-bottom: gutter(6);
    @include breakpoint(768px) {
        @include gallery(6 of 12);
        margin-bottom: gutter(12);
    }
    @include breakpoint(1024px) {  
        @include gallery(4 of 12); 
        margin-bottom: gutter(12);
    } 
}

.gallery-item-4 { // 3/12 == 4 columns per row
  @include gallery(12 of 12); 
  margin-bottom: span(1 of 12) + gutter(12);
  float:none;
  @include breakpoint(768px) {
      @include gallery(6 of 12);
      margin-bottom: span(1 of 12);
  }
  @include breakpoint(1024px) {
      @include gallery(4 of 12);
      margin-bottom: gutter(12);
  }
  @include breakpoint(1320px) {  
      @include gallery(3 of 12); 
      margin-bottom: gutter(12);
  } 
}


.gallery-item-6 { // 3/12 == 4 columns per row
  @include gallery(6 of 12); 
  margin-bottom: gutter(12);
  @include breakpoint(768px) {
      @include gallery(6 of 12);
      margin-bottom: gutter(12);
  }
  @include breakpoint(1024px) {  
      @include gallery(2 of 12); 
      margin-bottom: gutter(12);
  } 
}




