---
grails:
    profile: web
    codegen:
        defaultPackage: kbplus
    gorm:
        reactor:
            # Whether to translate GORM events into Reactor events
            # Disabled by default for performance reasons
            events: false

server:
  ajp:
    port: 8009
    protocol: AJP/1.3
    address: "0.0.0.0" 

info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    jmx:
        unique-names: true
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false
    devtools:
        restart:
            additional-exclude:
                - '*.gsp'
                - '**/*.gsp'
                - '*.gson'
                - '**/*.gson'
                - 'logback.groovy'
                - '*.properties'
environments:
    development:
        management:
            endpoints:
                enabled-by-default: true
                web:
                    base-path: '/actuator'
                    exposure:
                        include: '*'
    production:
        management:
            endpoints:
                enabled-by-default: false

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlet: html
                taglib: none
                staticparts: none
    hibernate:
        osiv:
            readonly: true


---
hibernate:
    cache:
        queries: false
        use_second_level_cache: false
        use_query_cache: false
    allow_update_outside_transaction: true
dataSource:
    pooled: true
    jmxExport: true

environments:
    development:
        features:
                - EXPORT
        localauth: true
        sysusers:
            - name: admin
              pass: admin
              display: Admin
              email: admin@some.domain.com
              roles:
                  - ROLE_USER
                  - ROLE_EDITOR
                  - ROLE_ADMIN
                  - ROLE_API
                  - ROLE_SYSADMIN
            - name: user
              pass: user
              display: User
              email: user@some.domain.com
              roles:
                  - ROLE_USER
                  - ROLE_API
        eshost: "${elasticsearch.service:eskbplusg3}"
        dataSource:
            dbCreate: update
            # driverClassName: com.mysql.jdbc.Driver
            driverClassName: com.mysql.cj.jdbc.Driver
            dialect: org.hibernate.dialect.MySQL5Dialect
            username: "${db.username:k-int}"
            password: "${db.password:k-int}"
            url: "jdbc:${db.uri:mysql://localhost}/${db.database.name:kbplus700dev}?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8"
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: -1
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

    test:
        # escluster: elasticsearch
        eshost: "${elasticsearch.service:localhost}"
        localauth: true
        dataSource:
            dbCreate: update
            # driverClassName: com.mysql.jdbc.Driver
            driverClassName: com.mysql.cj.jdbc.Driver
            dialect: org.hibernate.dialect.MySQL5Dialect
            username: "${db.username:k-int}"
            password: "${db.password:k-int}"
            url: "jdbc:${db.uri:mysql://127.0.0.1}/${db.database.name:kbplus700test}?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8"
            logSql: false
            formatSql: false
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 60000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

    production:
        # escluster: kbplusg3
        eshost: "${elasticsearch.service:eskbplusg3}"
        dataSource:
            dbCreate: update
            # driverClassName: com.mysql.jdbc.Driver
            driverClassName: com.mysql.cj.jdbc.Driver
            dialect: org.hibernate.dialect.MySQL5Dialect
            username: "${db.username:k-int}"
            password: "${db.password:k-int}"
            url: "jdbc:${db.uri:mysql://127.0.0.1}/${db.database.name:kbplus700prod}?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8"
            logSql: false
            # url: "jdbc:mysql://localhost/kbplus700prod?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8"
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: -1
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED
---
grails:
    assets:
        excludes:
        - "mixins/*.scss"
---
# The following settings are highly install specific and should be overridden using config.file.location
# either by specifying -Dconfig.file.location on the command line for grails run-app or by adding a
# tomcat/conf/Catalina/localhost/kbplus7.xml context descriptor to the tomcat environment and specifying
# an environment entry like
# <Environment name="spring.config.location" value="/home/kbplusstaging/.grails/kbplus7.yaml" type="java.lang.String" />
# Defaults provided below to get you up and running
skin: "${skinenv:live}"
master: true
docstoreDir: ./docstore
exportsDir: ./exports
doDocstoreMigration: false
configValidation: Application
