name: Build KBPlusG5


permissions:
  contents: read

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1.0.5

    - name: Inject github build number
      run: |
        # Make github run id available to gradle script via env var BUILD_NUMBER so it ends up in our module descriptor version
        # echo "BUILD_NUMBER=${{github.run_id}}" >> $GITHUB_ENV
        echo "BUILD_NUMBER=${{github.run_number}}" >> $GITHUB_ENV

    - name: Start containers
      run: |
        cd dev
        docker-compose -f docker-compose-dev-setup.yml down -v
        docker-compose -f docker-compose-dev-setup.yml up -d
        sleep 5


    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.2.0

    - name: Build
      working-directory: ./kbplus
      run: ./gradlew -Dgeb.env=firefoxHeadless clean build publishMavenPublicationToMaven-snapshotsRepository
